body {
    background-color: plum;
  }
  
  .selections {
    display: flex;
    justify-content: center;
  }
  
  .selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 7rem;
    transition: 100ms;
  }
  
  .selection:hover {
    transform: scale(1.2);
  }
  
  .results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size:2.5rem;
  }
  
  .result-score {
    margin-left: .1rem;
    font-size: 1.5rem;
    color: black;
  }
  
  .result-selection {
    opacity: .7;
  }
  
  .result-selection.winner {
    opacity: 2;
    font-size:2.5rem;
    color:brown;
  } 